#Project secrets

NODE_ENV=development
DATABASE_URL="THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG"

# Better-auth secrets
BETTER_AUTH_SECRET="THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG"
BETTER_AUTH_URL="THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG"

# Google cloud secrets
GOOGLE_CLIENT_ID="THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG"
GOOGLE_CLIENT_SECRET="THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG"


# App Url
APP_URL=

# Stripe Secrets
STRIPE_API_SECRET="THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG"
